/* Import et mise en place police Raleway sur le reste du site */

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-VariableFont_wght.woff');
    src: url('../fonts/Raleway-VariableFont.ttf') format('truetype'); 
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('../fonts/Raleway-Bold.woff');
    src: url('../fonts/Raleway-Bold.ttf') format('truetype'); 
}
@font-face {
    font-family: 'Raleway-BoldItalic';
    src: url('../fonts/Raleway-BoldItalic.woff');
    src: url('../fonts/Raleway-BoldItalic.ttf') format('truetype'); 
}
@font-face {
    font-family: 'Raleway-Italic';
    src: url('../fonts/Raleway-Italic.woff');
    src: url('../fonts/Raleway-Italic.ttf') format('truetype'); 
}
@font-face {
    font-family: 'Raleway-ItalicVariable';
    src: url('../fonts/Raleway-Italic-VariableFont.woff');
    src: url('../fonts/Raleway-Italic-VariableFont.ttf') format('truetype'); 
}
@font-face {
    font-family: 'Raleway-Regular';
    src: url('../fonts/Raleway-Regular.woff');
    src: url('../fonts/Raleway-Regular.ttf') format('truetype'); 
}
*
{
    font-family: "Raleway", sans-serif;
}
/* Import et mise en place police Lato sur les titres */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Taille du CV en largeur 1160px et centré et background de l'entête et pied de page */
body
{
    width: 1160px;
    margin:auto;
}
header, footer
{
    background-color: #17abb3;
    align-content: center;
}
/* Mise en forme de l'header */
header
{
    display: flex;
    align-items: center;
    color:white;
    text-align:center;
    height: 240px;
}
/* Mise en forme de la partie photo */
.photo
{
    width:348px;
    text-align: center;
}
.photo img
{
    width:40%;
    border-radius: 50%;
    border: white 5px solid;
}
/* Mise en forme du côté droit de l'header */
.header-contact
{
    margin:auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
/* Mise en forme titre Nom Prénom */
header h1
{
    font-family: 'Lato',sans-serif;
    margin:auto;
    font-size: xxx-large;
}
/* Mise en forme du poste recherché */
.search-post
{
    margin:0.5em;
    font-size: x-large;
    font-weight: 600;
}
/* Mise en forme du bloc de coordonnées */
address
{
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    font-size:small;
    height:60px;
    margin:auto;
    row-gap:0.5em;
}
address p
{
    font-style:normal;
    font-size:medium;
    text-align:left;
    margin:auto auto auto 25px;
}
/* Suppression mise en forme des liens */
a
{
    color:white;
    text-decoration: none;
}
/* Taille des icones */
.head-icon
{
    width:15px;
}



/* mise en forme de la partie principale*/
main
{
    display:flex;
}
/* On défini la taille de la partie profil */
.profile
{
    min-width:348px;
    box-sizing:border-box;
    padding:2em;
    padding-left: 3em;
    background-color: rgba(51, 51, 51, 0.1);
}
/* On défini la taille de la partie cv details */
.cv-details
{
    display:flex;
    width:max-content;
    flex-direction:column;
    flex-wrap:wrap;
    flex-basis:auto;
    padding:2em;
    padding-left: 3em;
}

h2
{
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    color:#17abb3
}